<!DOCTYPE html>
<html>
<head>
	<title>FORMULAIRE 1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>FORMULAIRE HTML</h1>
	<h2>Creation d'un user </h2> <br>

	<form method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		Username: 
		<input type="text" name="username"> <br>
		Email: 
		<input type="text" name="email"> <br>
		Bio: 
		<textarea name="bio"></textarea> <br>
		<input type="submit" name="Envoyer">
	</form>

	<br><br>
	<ul>
		<li><a href="/">ACCUEIL</a></li>
		<br>
		<li><a href="/new2">Formulaire N°2</a></li>
		<li><a href="/new3">Formulaire N°3</a></li>
	</ul>

</body>
</html>